.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #000;
    border-radius: 1rem;
    margin: 1rem 0;
}
.acordeon.open, .acordeon:hover{
    background-color: #cccccc;
    border-color: #cccccc;
    color: #fff;
    transition: 0.55s;
}
.acordeon .btt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color:#000;
    border:none;
    margin-left: 0.6rem;
}
.acordeon .btt:hover{
    cursor: pointer;
}
.acordeon .btt::after{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("img/icones/seta.png");
    transition: .25s;
}

.acordeon.open .btt::after{
    transform: rotate(180deg);

}
.acordeon .conteudo{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;

}
.acordeon.open .conteudo{
    display: inline-block;
    height: auto;
    opacity: 1;
}

