.educacao {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #000;
}

.educacao .periodo{
        display: flex;
        justify-items: left;
        margin-top: 1rem;   
        align-items: center;
        color: #000;
}

.educacao .periodo::before{
    content: "";
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/icones/calendario.png");
    margin: 0;
}

.educacao .titulo{
    font-size: 1.5rem;
    color: #000;
}
